img {
  width: 400px;
  height: 200px;
}
.container {
  border: 1px solid rgb(187, 190, 187);
  box-shadow: 1px solid rgb(195, 197, 195);
  margin: 15px 0;
  border-radius: 5px;
}
button {
  margin-bottom: 10px;
}
